@model QLKhoHang.Models.PhieuNhap

<h2>Sửa Phiếu Nhập</h2>

<form asp-action="Edit" method="post">

    <!-- HIỂN THỊ LỖI -->
    <div asp-validation-summary="All" class="text-danger mb-3"></div>

    <input type="hidden" asp-for="MaPN" />

    <div class="form-group">
        <label>Mã phiếu nhập</label>
        <input asp-for="MaPN" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label>Ngày nhập</label>
        <input asp-for="NgayNhap" type="date" class="form-control" />
    </div>

    <div class="form-group">
        <label>Nhân viên</label>
        <select asp-for="MaNV"
                asp-items="@(new SelectList(ViewBag.NhanVien, "MaNV", "TenNV"))"
                class="form-control"></select>
    </div>

    <div class="form-group">
        <label>Nhà cung cấp</label>
        <select asp-for="MaNCC"
                asp-items="@(new SelectList(ViewBag.NCC, "MaNCC", "TenNCC"))"
                class="form-control"></select>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Lưu thay đổi</button>
    <a asp-action="Index" class="btn btn-secondary mt-2">Quay lại</a>

</form>
